body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.link-button{
    background-color: gold;
    text-decoration: none;
    color: black;
    padding: 8px;
    border-radius: 10px;
    font-weight: 800;
}
.color{
    color: orange;
}
.text-align{
    text-align: center;
}
.word-space{
    word-spacing: 300px;
    text-align: center;
}
.sec{
    background-color: bisque;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 200px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
  }
  .tan{
    padding-left: 80px;
  }
  .area{
    box-shadow: 10px 10px 10px green;
    width: 40%;
    margin-left: 60px;
    margin-right: 60px;
    border-left: 20px;
  }
  .weight{
    font-size: 35px;
  }
  
  
 
  }
