body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.link-button{
    background-color: gold;
    text-decoration: none;
    color: black;
    padding: 8px;
    border-radius: 10px;
    font-weight: 800;
}
.color{
    color: orange;
}
    